<?php
/**
 * Magento
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2019 Kaliop Poland Sp. z o.o. (https://www.kaliop.pl/)
 * @license     ? http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author      Filip Wachowiak <filip0606@o2.pl>
 */
?>
<?php
    $storePoint = $this->getPoint();
?>
<div class="block">
    <div class="block-title">
        <strong><span><?php echo $this->__('Point Details') ?></span></strong>
    </div>
    <div>
        <a href="<?php echo $this->getListUrl(); ?>">
            <?php echo $this->__('Go To Points List'); ?>
        </a>
        
        <?php if ($storePoint->getId()): ?>
            <div>
                <?php echo $this->__('Name: %s', $storePoint->getName()); ?>
            </div>
            <div>
                <?php echo $this->__('City: %s', $storePoint->getCity()); ?>
            </div>
            <div>
                <?php echo $this->__('Street: %s', $storePoint->getStreet()); ?>
            </div>
            <?php if ($fileName = $storePoint->getFileName()): ?>
                <a href="<?php echo $this->getFileUrl($fileName); ?>" target="_blank">
                    <img 
                        src="<?php echo $this->getFileUrl($fileName); ?>" 
                        alt="<?php echo $fileName; ?>" 
                        width="60px" height="60px" 
                    />
                </a>
            <?php endif; ?>
        <?php else: ?>
            <h4><?php echo $this->__('Point Not Found'); ?></h4>
        <?php endif; ?>
    </div>
</div>
