<?php
/**
 * Magento
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2019 Kaliop Poland Sp. z o.o. (https://www.kaliop.pl/)
 * @license     ? http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author      Filip Wachowiak <filip0606@o2.pl>
 */
?>
<div class="block">
    <div class="block-title">
        <strong><span><?php echo $this->__('Points List') ?></span></strong>
    </div>
    <div>
        <?php if ($this->getPoints()->getSize()): ?>
            <?php foreach($this->getPoints() as $_point): ?>
                <div style="border-bottom: 1px solid; padding-bottom: 3px">
                    <?php echo $_point->getName(); ?>
                    &nbsp;
                    <a href="<?php echo $this->getDetailsUrl($_point->getId()); ?>">
                        <?php echo $this->__('Show Details'); ?>
                    </a>
                </div>
            <?php endforeach ?>
        <?php else: ?>
            <h4><?php echo $this->__('No Points Found'); ?></h4>
        <?php endif; ?>
    </div>
</div>
